# Mac OS X files
.DS_Store
.env
.env.yml
.idea/
.vscode/
.history/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin

# Dependency directories (remove the comment below to include it)
# vendor/

vendor/
tools/vendor

# Ansible
*.retry
*.pass
/secrets/*
!/**/.gitkeep
*.pyc
__pycache__/*
*.swp
.vscode
*.tar
.vm_ssh
.vm_ssh.pub
invites
.decrypt*
*.vault
.venv
.direnv
.poetry
.pre-commit-config.yaml
.idea
.DS_Store

# Ignore everything except google collections
ansible/ansible_collections/*
!ansible/ansible_collections/google/
!ansible/ansible_collections/lido/
